html, body {
    margin: 0;
    padding: 0;
}

.app-warp {
    width: 200px;
    height: 80px;
    background: rgba(46, 53, 59, 1);
    border-radius: 2px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
}